/* App-wide styles */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.app_bg {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url("../public/Gemini_Generated_Image_oaqyw8oaqyw8oaqy.png");
  background-size: cover;
  background-position: center;
}
.cont{
}
/* Overlay when modal is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dim effect */
  z-index: 100;
  pointer-events: none; /* click-through if you want */
  opacity: 0;
  transition: all 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto; /* block clicks on background */
}
